.App {
  text-align: center;
  font-family: monospace;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.Character {
  white-space: pre;
}

.Character-current {
  background-color: #09d3ac;
}
.Character-current-wrong {
  background-color: #09d3ac;
}
.Character-out {
  color: silver;
}
.header-parent {
  display: flex;
  padding-left: 5%;
  padding-top: 1%;
  background-color: #282c34;
}
.header-brand-button {
  text-decoration: none;
  color: #ededed;
  font-size: xx-large;
}
.header-brand-button:hover {
  color: red;
}
.footer {
  background-color: #282c34;
}
.footer-text {
  margin: 0;
  padding: 0;
  color: #ededed;
  font-size: 1.5em;
}
